<h1>Inscripció proves atletisme</h1>
<section>
    <h1>Dades identificatives</h1>
    <label>DNI
        <input name="dni" (input)="onDniInput($event)" />
    </label>
    <label>Codi de federat</label>
    <label>Nom i cognoms</label>
    <label>Telèfon</label>
    <label>Email</label>
</section>

<section>
    <h1>Inscripció</h1>
    <label>100m llisos
        <input type="checkbox">
    </label>
    <label>200m llisos
        <input type="checkbox">
    </label>
    <label>400m llisos
        <input type="checkbox">
    </label>
    <label>800m llisos
        <input type="checkbox">
    </label>
    <label>1000m llisos
        <input type="checkbox">
    </label>
</section>

<button type="submit" [disabled]="isFormInvalid()">Inscripció</button>